html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', Arial, sans-serif;
	font-size: : 16px;
	font-weight: 400;
	line-height: 1.5;
}

p {
	margin-bottom: 25px;
	white-space: pre-wrap;
}

.uppercase {
	text-transform: uppercase;
}

.container {
	/*padding-left: 20px;*/
	/*padding-right: 20px;*/
	max-width: 940px;
}

/*header*/
.container--hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 640px;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-top: 285px;
	padding-bottom: 385px;
	position: relative;
	/*min-height: 100vh;*/
	background-color: #a8b3c7;
	background-image: url(../img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	text-align: center;
}

.logo {
	margin-bottom: 35px;
}

.header__title {
	margin: 0 0 35px;
	font-size: 54px;
	color: #ffffff;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: 0.16em;
}

.hero_text {
	font-size: 15px;
	color: #ffffff;
	/*line-height: 1.933;*/
	letter-spacing: 0.06em;
}

/*btn-scroll animation*/
.btn-skroll {
	position: absolute;
	bottom: 115px;
}

.btn-skroll:hover {
	transform: translateY(5px);
}

.scroll-svg--contour {
	-webkit-transition: all 2s ease-out;
	-moz-transition: all 2s ease-out;
	-ms-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
	transition: all 2s ease-out;
}

.btn-skroll:hover .scroll-svg--contour {
	fill: #000000;
	-webkit-transition: all 2s ease-out;
	-moz-transition: all 2s ease-out;
	-ms-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
	transition: all 2s ease-out;
}

.scroll-svg--dot {
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

.btn-skroll:hover .scroll-svg--dot {
	/*transform: translateY(-50px);*/
	transform: scaleY(2);
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

/*main*/
.main-section {
	box-sizing: border-box;
	margin: auto;
	/*padding: 70px 180px 26px;*/
	/*padding-top: 70px;*/
	padding: 0.1px;
	border: solid 2px #3c3c3c;
	border-top: none;
	text-align: center;
}

.main-section--white {
	border-color: #ffffff;
}

.box {
	max-width: 600px;
	margin: 70px auto 26px auto;
}

.box :last-child {
	margin-bottom: 0;
}

.box-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0;
	margin-top: -0.5em;
	text-align: center;
	line-height: 1.2;
	font-size: 34px;
	font-weight: 700;
	letter-spacing: 0.16em;
}

/*box-title_lines*/
.box-title:before,
.box-title:after {
	background-color: #3c3c3c;
	content: '';
	flex-grow: 1;
	height: 2px;
	position: relative;
	top: 0.5em;
}

.box-title--white:before,
.box-title--white:after {
	background-color: #ffffff;
}

.box-title:before {
	margin-right: 100px;
}

.box-title:after {
	margin-left: 100px;
}

/*about-us*/
.about-us {
	padding-top: 160px;
	padding-bottom: 160px;
	letter-spacing: 0.05em;
}

/*services*/
.services {
	padding-top: 130px;
	padding-bottom: 110px;
	background-color: #a8b3c7;
	background-image: url(../img/services.jpg);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	color: #ffffff;
	line-height: 1.6;
}

/*what-we-do*/
.what-we-do {
	padding-top: 120px;
	padding-bottom: 115px;
}

.sub-section {
	margin-bottom: 105px;
}

.box--sub-section {
	margin-top: 110px;
	margin-bottom: 90px;
}

.sub-section__title {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.16em;
}

/*links-container*/
.links-container {
	margin-left: -5px;
	margin-right: -5px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.col-30 {
	flex-basis: calc(30% - 10px);
}

.col-40 {
	flex-basis: calc(40% - 10px);
}

.link-wrapper {
	box-sizing: border-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-end;
	margin: 0 5px 10px 5px;
	padding-left: 40px;
	padding-bottom: 40px;
	/*width: 100%;*/
	height: 237px;
	background-repeat: no-repeat;
	background-size: cover;
	text-decoration: none;
	font-size: 34px;
	color: #ffffff;
	font-weight: bold;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}

.link-wrapper:hover {
	transform: scale(1.1);
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	border: 2px solid #000000;
	box-shadow: inset 0 0 10em gold
	/*opacity: 0.8;*/
	/*background-blend-mode: hard-light, multiply, normal;*/
}

.links--topworkz {
	background-image: url(../img/Topworkz.jpg);
	/*background-color: #fcfcfc;*/
}

.links--joint {
	background-image: url(../img/Joint.jpg);
}

.links--market {
	background-image: url(../img/Market.jpg);
}

.links--worktop {
	background-image: url(../img/Worktop.jpg);
}

.links--lable {
	background-image: url(../img/Lable.jpg);
}

.links--kyiv {
	background-image: url(../img/Kyiv.jpg);
}

.links--topworkz:hover,
.links--worktop:hover {
	transform: translateX(20px)
				scale(1.1);
}

.links--market:hover,
.links--kyiv:hover {
	transform: translateX(-20px)
				scale(1.1);
}

/*contact-us*/
.contact-us {
	padding-top: 140px;
	padding-bottom: 60px;
}

.btn--contact-us {
	display: table;
	margin: auto;
	padding: 20px 136px;
	text-decoration: none;
	letter-spacing: 0.16em;
}

.btn--contact-us {
	background-color: #3c3c3c;
	color: #ffffff;
}

.btn--contact-us:hover {
	background-color: #626262;
}

.btn--contact-us:active {
	background-color: #3c3c3c;
	transform: translateY(5px);
}

/*footer*/
.footer {
	margin: 0 auto 55px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*.svg__logo--footer {
	transform: scale(0.8, 0.8);
}*/

.svg__logo--footer .logo-triangle,
.svg__logo--footer .logo-circle {
	fill: none;
	stroke-width: 2px;
}

.svg__logo--footer .logo-triangle {
	stroke: #000000;
}

.svg__logo--footer .logo-triangle, 
.svg__logo--footer .logo-circle {
	fill-rule: evenodd;
}

.svg__logo--footer .logo-circle {
	stroke: #000000;
}

.svg__logo--footer .logo-mini-circle--first,
.svg__logo--footer .logo-mini-circle--second,
.svg__logo--footer .logo-mini-circle--third {
	fill: #000000;
}

.footer-text {
	margin: 0 0 0 33px;
	font-size: 14px;
	color: rgb(60, 60, 60);
}