html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

p {
	margin-bottom: 25px;
	/*white-space: pre-wrap;*/
}

/*svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}*/

a {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.uppercase {
	text-transform: uppercase;
}

.container {
	/*padding-left: 20px;*/
	/*padding-right: 20px;*/
	max-width: 900px;
}

/*header*/
.container--hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 640px;
}

.header {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-top: 20vh;
	padding-bottom: 30vh;
	position: relative;
	min-height: 100vh;
	background-color: #a8b3c7;
	background-image: url(../img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	text-align: center;
}

.logo {
	margin-bottom: 78px;
}

/*logo-styling*/
.svg__logo {
	-webkit-transition: all 2s ease-out;
	-moz-transition: all 2s ease-out;
	-ms-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
	transition: all 2s ease-out;
}

.svg__logo:hover {
	transform: scale(1.2);
}

.logo-mini-circle--first,
.logo-mini-circle--second,
.logo-mini-circle--third {
	-webkit-transition: all 2s ease-out;
	-moz-transition: all 2s ease-out;
	-ms-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
	transition: all 2s ease-out;
}

.svg__logo:hover .logo-mini-circle--first {
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	fill: #d00000;
}

.svg__logo:hover .logo-mini-circle--second {
	-webkit-transition: all 2s ease-out;
	-moz-transition: all 2s ease-out;
	-ms-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
	transition: all 2s ease-out;
	fill: #008212;
}

.svg__logo:hover .logo-mini-circle--third {
	-webkit-transition: all 3s ease-out;
	-moz-transition: all 3s ease-out;
	-ms-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
	transition: all 3s ease-out;
	fill: #150082;
}

.svg__logo:hover .logo-triangle {
	transition-delay: 2s;
	stroke: #43ebff;
}
/*logo-styling end*/

.header__title {
	margin: 0 0 33px;
	font-size: 54px;
	color: #ffffff;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: 0.17em;
}

.hero_text {
	margin: auto;
	font-size: 15px;
	color: #ffffff;
	/*line-height: 1.933;*/
	letter-spacing: 0.06em;
	line-height: 2;
}

/*btn-scroll animation*/
.btn-skroll {
	position: absolute;
	bottom: 115px;
}

.btn-skroll:hover {
	transform: translateY(5px);
}

.scroll-svg--contour {
	-webkit-transition: all 2s ease-out;
	-moz-transition: all 2s ease-out;
	-ms-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
	transition: all 2s ease-out;
}

.btn-skroll:hover .scroll-svg--contour {
	fill: #000000;
	-webkit-transition: all 2s ease-out;
	-moz-transition: all 2s ease-out;
	-ms-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
	transition: all 2s ease-out;
}

.scroll-svg--dot {
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

.btn-skroll:hover .scroll-svg--dot {
	/*transform: translateY(-50px);*/
	transform: scaleY(2);
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

/*main*/
.main-section {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	/*padding: 70px 180px 26px;*/
	/*padding-top: 70px;*/
	padding: 0.1px;
	border: solid 2px #3c3c3c;
	border-top: none;
	text-align: center;
}

.main-section--white {
	border-color: #ffffff;
}

.box {
	max-width: 600px;
	margin: 49px auto 26px auto;
}

.box :last-child {
	margin-bottom: 0;
}

.box-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0;
	margin-top: -0.6em;
	text-align: center;
	line-height: 1.2;
	font-size: 34px;
	font-weight: 700;
	letter-spacing: 0.16em;
}

/*box-title_lines*/
.box-title:before,
.box-title:after {
	background-color: #3c3c3c;
	content: '';
	flex-grow: 1;
	height: 2px;
	position: relative;
	top: 0.6em;
}

.box-title--white:before,
.box-title--white:after {
	background-color: #ffffff;
}

.box-title:before {
	margin-right: 104px;
}

.box-title:after {
	margin-left: 104px;
}

/*about-us*/
.about-us {
	padding-top: 160px;
	padding-bottom: 160px;
	letter-spacing: 0.05em;
}

/*services*/
.services {
	padding-top: 123px;
	padding-bottom: 110px;
	background-color: #a8b3c7;
	background-image: url(../img/services.jpg);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	color: #ffffff;
	line-height: 1.6;
}

/*what-we-do*/
.what-we-do {
	padding-top: 115px;
	padding-bottom: 115px;
}

.sub-section {
	margin-bottom: 112px;
}

.box--sub-section {
	margin-top: 105px;
	margin-bottom: 55px;
}

.sub-section__title {
	margin-top: 33px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.16em;
}

/*links-container*/
.links-container {
	margin-left: -5px;
	margin-right: -5px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.col-30 {
	flex-basis: calc(29% - 10px);
}

.col-40 {
	flex-basis: calc(42% - 10px);
}

.link-wrapper {
	box-sizing: border-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-end;
	margin: 0 5px 10px 5px;
	padding-left: 43px;
	padding-bottom: 32px;
	/*width: 100%;*/
	height: 237px;
	background-repeat: no-repeat;
	background-size: cover;
	text-decoration: none;
	font-size: 34px;
	letter-spacing: 0.16em;
	color: #ffffff;
	font-weight: bold;
	overflow-x: hidden;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
 
@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
 
.link-wrapper:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}


/*.link-wrapper:hover {
	transform: scale(1.08);
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	border: 2px solid #000000;
	box-shadow: inset 0 0 10em gold;
	opacity: 0.8;
	background-blend-mode: hard-light, multiply, normal;
}*/

.links--topworkz {
	background-image: url(../img/Topworkz.jpg);
	/*background-color: #fcfcfc;*/
}

.links--joint {
	background-image: url(../img/Joint.jpg);
}

.links--market {
	background-image: url(../img/Market.jpg);
}

.links--worktop {
	background-image: url(../img/Worktop.jpg);
}

.links--lable {
	background-image: url(../img/Lable.jpg);
}

.links--kyiv {
	background-image: url(../img/Kyiv.jpg);
}

/*.links--topworkz:hover,
.links--worktop:hover {
	transform: translateX(16px)
				scale(1.08);
}*/

/*.links--market:hover,
.links--kyiv:hover {
	transform: translateX(-16px)
				scale(1.08);
}*/

/*contact-us*/
.contact-us {
	padding-top: 130px;
	padding-bottom: 60px;
}

.box--contact-us {
	margin-bottom: 47px;
}

.contact-us--text {
	margin-bottom: 36px;
}

.btn--contact-us {
	display: table;
	margin: auto;
	padding: 20px 136px;
	text-decoration: none;
	letter-spacing: 0.16em;
}

.btn--contact-us {
	background-color: #3c3c3c;
	color: #ffffff;
}

.btn--contact-us:hover {
	background-color: #626262;
}

.btn--contact-us:active {
	background-color: #3c3c3c;
	transform: translateY(5px);
}

/*footer*/
.footer {
	margin: 0 auto 55px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*.svg__logo--footer {
	transform: scale(0.8, 0.8);
}*/

.svg__logo--footer .logo-triangle,
.svg__logo--footer .logo-circle {
	fill: none;
	stroke-width: 2px;
}

.svg__logo--footer .logo-triangle {
	stroke: #000000;
}

.svg__logo--footer .logo-triangle, 
.svg__logo--footer .logo-circle {
	fill-rule: evenodd;
}

.svg__logo--footer .logo-circle {
	stroke: #000000;
}

.svg__logo--footer .logo-mini-circle--first,
.svg__logo--footer .logo-mini-circle--second,
.svg__logo--footer .logo-mini-circle--third {
	fill: #000000;
}

.footer-text {
	margin: 0 16px 0 33px;
	font-size: 14px;
	color: rgb(60, 60, 60);
}